/* import fonts google */
@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');

/* end */
:root {
    --primary-color: #45ccb8;
    --light-gray: #2b3032a1;
    --border: #ff686b;
    --roboto: "Roboto", sans-serif;
    --gugi: "Gugi", cursive;
    --sofia: "Sofia", cursive;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

/* -----------------header----------------- */
header {
    background-color: var(--primary-color);
    font-family: var(--roboto);
}

header .btn-group .btn {
    color: white;
    font-size: 14px;
}

header .btn-group .dropdown-menu>a {
    font-size: 13px;
}

header .site-title {
    font-family: var(--gugi);
    color: white;
}

header .header-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: 0.4s;
}

header .header-links a:hover {
    color: #000000b5;
}

/* navbar */
.navbar .collapse ul li {
    padding: 0 10px;
}

.navbar .collapse ul li a {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: var(--light-gray) !important;
    transition: 0.4s;
}

.navbar .collapse ul li a:hover {
    color: #00a99d !important;
}

.navbar .form-inline {}

.navbar .navbar-nav {
    padding: 0.6rem 0rem;
}

.navbar .navbar-nav>li {
    border-radius: 50%;
}

.navbar .navbar-nav .shoping-icon {
    margin-right: 6.5rem !important;
}

/* ------------------------section 1------------------ */
.section1 {
    margin: 30px 0 30px 0;
}

.container .img {
    width: 440px;
    height: 300px;
    margin: 0 auto;
}

.container .img>img {
    width: 100%;
    height: 100%;
}

.container .title-text {
    margin-top: 60px;
    font-family: var(--sofia);
}

.container .title-text h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: serif;
}

/* ----------------section2-------------- */
.section2-slide-product {
    width: 100%;
    position: relative;
    margin: 30px 0;
}

.section2-slide-product .produc-item {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.section2-slide-product .produc-item .img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.section2-slide-product .produc-item .img img {
    width: 100%;
    transition: 0.4s;
}

.section2-slide-product .produc-item .img img:hover {
    transform: scale(1.4);
}

.section2-slide-product .produc-item .text h6 {
    text-align: center;
    padding: 8px;
    margin: 0 auto;
    font-family: var(--roboto);
    font-size: 13px;
    width: 70%;
    text-transform: uppercase;
}

.section2-slide-product .position-top {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.section2-slide-product .slide-btn .prev,
.section2-slide-product .slide-btn .next {
    margin: 0 5rem;
    color: var(--primary-color);
}

.section2-slide-product .slide-btn .next {
    right: 0;
}

/* ------------------section 3 product new */
.section3-product-new {
    position: relative;
}

.section3-product-new .container .product-title {
    text-align: center;
    margin: 30px 0 80px 0;
}

.section3-product-new .container .product-title h1 {
    font-family: var(--gugi);
    margin: 0;
}

.section3-product-new .container .product-title p {
    color: #000000b5;
    margin: 0;
    letter-spacing: 4px;
}

/* product */

.section3-product-new .product .product-item .card img {
    width: 100%;
    height: 200px;
    cursor: pointer;
}

.section3-product-new .product .product-item .card h5 {
    text-align: center;
    font-family: serif;
    text-transform: uppercase;
}

.section3-product-new .product .product-item .card h5 i {
    color: #45ccb8 !important;

}

.section3-product-new .product .product-item .card p {
    text-align: center;
    color: #000000b5;
}

.section3-product-new .position-top {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.section3-product-new .product-btn .prev,
.section3-product-new .product-btn .next {
    margin: 0 5rem;
    color: var(--primary-color);
}

.section3-product-new .product-btn .next {
    right: 0;
}

/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */
/* -------------------commitment------------------ */
.commitment {
    margin: 30px 0;
}

.commitment .container {
    text-align: center;
}

.commitment h2 {
    text-transform: capitalize;
    font-family: var(--gugi);
}

.commitment .ke {
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: #00a99d;
    margin: 0 auto;
}

.commitment .cmt{
    padding: 30px 0;
    cursor: pointer;
}
.commitment .cmt h6{
    text-transform: uppercase;
    padding-top:10px;
}
/* -------------------section 4 product----------- */


.section4-product-hot {
    position: relative;
}

.section4-product-hot .container .product-title {
    text-align: center;
    margin: 30px 0 80px 0;
}

.section4-product-hot .container .product-title h1 {
    font-family: var(--gugi);
    margin: 0;
}

.section4-product-hot .container .product-title p {
    color: #000000b5;
    margin: 0;
    letter-spacing: 4px;
}

/* product */

.section4-product-hot .product-hot .product-item .card img {
    width: 100%;
    height: 200px;
    cursor: pointer;
}

.section4-product-hot .product-hot .product-item .card h5 {
    text-align: center;
    font-family: serif;
    text-transform: uppercase;
}

.section4-product-hot .product-hot .product-item .card h5 i {
    color: #45ccb8 !important;

}

.section4-product-hot .product-hot .product-item .card p {
    text-align: center;
    color: #000000b5;
}

.section4-product-hot .position-top {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.section4-product-hot .product-btn-hot .prev,
.section4-product-hot .product-btn-hot .next {
    margin: 0 5rem;
    color: var(--primary-color);
}

.section4-product-hot .product-btn-hot .next {
    right: 0;
}

/* ----------section 5 logo------------ */
/* .section5-logo {
    background-color: black;
    margin: 80px 0 0 0;
    position: relative;
    padding: 10px 0;
}

.section5-logo .logo {
    margin: 0 auto;
}

.section5-logo img {
    padding: 0 40px;
    text-align: center;
    margin: 0 auto;
}

.section5-logo .position-top {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.section5-logo .logo-btn .prev,
.section5-logo .logo-btn .next {
    margin: 0 5rem;
    color: white;
}

.section5-logo .logo-btn .next {
    right: 0;
} */
/* -----------footer-------- */
footer {
    width: 100%;
    background: #383838;
    text-align: center;
    box-sizing: border-box;
    margin: 40px 0 0 0;
    padding: 40px 0;
}

/*  */

footer .icon a {
    border: 1px solid #00a99d;
    padding: 12px;
    border-radius: 16px;
    margin: 0 3px 0 3px;
}

footer .icon {
    margin-top: 30px;
}

footer .icon a i {
    color: white;
    transition: 0.4s;
}

footer .icon a i:hover {
    color: #00a99d;
    transform: scale(1.5);
}

footer h6 {
    color: #ffffff7a;
    margin-top: 30px;
}

/* ----------- */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #00a99d;
    z-index: 2;
    padding: 0px;
    transition: 0.4s;
}

/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* --------------------------product--------------- */
.wrap {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    width: 25%;
    margin: 0px;
    padding: 0px;
    list-style: none
}

.menu>h3 {
    font-family: serif;
    text-transform: capitalize;
}

.menu .menu-nav {
    list-style: none;
    position: relative;
}

.menu .menu-nav .menu-item a {
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    /* padding: 16px 0; */
}

.menu .menu-nav .menu-item {
    padding: 5px 0;
}


.menu .menu-nav .menu-item:hover {
    background-color: #e9ecef;
}

.drop {
    left: 0;
    width: 60%;
    display: none;
    transition: 1s;
}

.drop a {
    display: inline-block;
    padding: 4px 0;
    margin-left: 20px;
}


.menu .menu-nav .menu-item:hover .drop {
    display: block;
}

/* product-wrap */
.product-wrap {
    width: 75%;
    border-radius: 0px 4px 4px 0px;
    overflow: hidden;
}

.product-wrap .btn-group {
    float: right;
    ;
}

.product-wrap .col-md-3 {
    cursor: pointer;
    text-align: center;
    padding-bottom: 40px;
}

.p-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.p-img img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.p-img img:hover {
    transform: scale(1.3);
}

.p-text {
    margin: 10px 0;
}

.p-text h6 {
    font-family: serif;
    text-transform: capitalize;

}

.p-text span {
    color: #e67e22;
    font-size: 20px;
    font-family: serif;
}

.p-btn {
    transition: 0.2s;
}

.p-btn:hover {
    transform: scale(1.1);
}

.p-btn a {
    color: #000000d6;
    text-decoration: none;
}

.p-btn a:hover {
    text-decoration: none;
}

.p-btn a i {
    color: #00a99d;
}

.pag {
    width: 100%;
    text-align: center;
}

.pag nav {
    margin: 0 auto;
    display: inline-block
}

.pag nav a {
    color: #00a99d;
}

/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */
/* ----------------detail----------------------- */
.detail-wrap .container {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--roboto);
}

.detail-wrap .container .detail-img img {
    width: 100%;
    height: 100%;
}

.detail-wrap .container .content {
    margin-top: 50px;
}

.detail-wrap .container .content h2 {
    text-transform: uppercase;

}

.detail-wrap .container .content h2 small {
    font-family: var(--gugi);
}

.detail-wrap .container .content p {
    color: #000000b5;
}

.detail-wrap .container .content span {
    color: #e67e22;
}

.detail-wrap .container .content span small {
    font-family: var(--gugi);
    color: black;
}

.detail-wrap .container .content a {
    padding: 0 20px;
    color: #00a99d;
    text-decoration: none;
    transition: 0.2s;
}

.detail-wrap .container .content a:hover {
    color: #e67e22;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ----------------------------ABOUT US----------------------- */
.about-us h1 {
    text-align: center;
    font-family: var(--gugi);
}

.about-us .ke {
    margin: 0 auto;
    width: 50px;
    height: 1px;
    background-color: #00a99d;
}

.about-us .content-text {
    padding: 50px 0;
}

.about-us .content-text p {
    font-size: 20px;
}

.about-us .content-text p i {
    color: #00a99d;
}

.about-us .content-text p small {
    font-family: var(--gugi);
}